* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country {
  list-style: none;
  display: flex;
  font-size: 16px;
  align-items: center;
  font-weight: bold;
  margin: 6px;
}

.image-list {
  width: 30px;
  height: 100%;
  margin-right: 15px;
}
.country-info-container {
  margin-left: 35px;
}

.country-image {
  width: 50px;
  height: 100%;
  margin-right: 15px;
}

.country-visit-card {
  align-items: center;
  display: flex;
}

.description-name {
  margin-right: 7px;
}

.language-list {
  list-style: none;
  font-size: 15px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
}

.language-description {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 8px;
  display: flex;
}

.language-description:not(:last-child)::after {
  margin-left: 5px;
  content: " | ";
  color: black;
}

.language {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.language-text {
  margin-top: 0;
  margin-bottom: 0;
}